* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
section{
    display: flex;
}
body{
    background-color: rgba(229, 231, 105, 0.616);
}    

h1{
   
    text-align: center;
    color: aliceblue;
    text-shadow: black 2px 2px 2px;
    background-color: rgb(223, 151, 129);
    margin: 20px;
    padding: 15px;
    border-radius: 20px;
    border-style: dashed;
}
h2{
 padding: 20px;
}

.s1 {
    font-family: "Playwrite CZ", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.s2 {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.s3 {
    font-family: "Crafty Girls", cursive;
    font-weight: 400;
    font-style: normal;
}

.s4 {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
}
.titulo{
    background-color: rgba(138, 240, 240, 0.432);
    color: rgb(250, 250, 250);
    text-shadow: black 2px 2px 2px;
    border-radius: 30px;
    border-style: outset;
    margin: 10px;
    padding: 15px;
}
footer {
    text-align: center;
    width: 100%;
    padding: 1.5rem;
    background-color: rgb(223, 151, 129);
    font-family: Georgia, 'Times New Roman', Times, serif;
}