* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: url("/Imagenes/martillo.cur"),auto;
}
.contenedor-videos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* dos videos juntos */
    gap: 20px;
    margin: 30px auto;
    max-width: 900px;
}

.contenedor-audio {
    margin: 20px auto;
    max-width: 400px;
}


.item {
    background: rgb(49, 23, 19);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.item video,
.item iframe,
.item audio {
    width: 100%;
    border-radius: 10px;
}
header{
    background-color: rgb(68, 32, 26);
    border-style: dotted;
    border-radius: 20px;
    color: antiquewhite;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
body{
    background-image: url(./Imagenes/Corcho.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
h2{
    text-shadow: white 2px 2px 2px;
}
footer {
    text-align: center;
    width: 100%;
    padding: 1.5rem;
    background-color: rgba(68,32,26);
    font-family: Georgia, 'Times New Roman', Times, serif;
}