*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    }

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #9ecbe6;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: white 2px 2px 2px;
}

form {
    background: rgb(78, 135, 158);
    padding: 25px;
    border-radius: 15px;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

fieldset {
    border: 4px solid #a7d5d6;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px 25px;
    background: #d7fcf9;
}

legend {
    font-weight: bold;
    padding: 0 8px;
    color: #2b4a63;
}

label {
    width: 150px;
    font-weight: bold;
    color: #000000;
}

input, select, textarea {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #aaa;
    font-size: 14px;
    flex: 1;
    min-width: 200px;
}

textarea {
    resize: vertical;
}

select[multiple] {
    height: 120px;
}

button,
input[type="submit"] {
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    background: #4682b4;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover,
input[type="submit"]:hover {
    background: #315f84;
}

@media (max-width: 600px) {

    label {
        width: 100%;
    }

    fieldset {
        flex-direction: column;
    }

    input, select, textarea {
        width: 100%;
    }
}
footer {
    text-align: center;
    border-radius: 2rem;
    width: 100%;
    padding: 1.5rem;
    background-color: rgba(94, 151, 236, 0.856);
    font-family: Georgia, 'Times New Roman', Times, serif;
}