* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgba(236, 206, 161, 0.829);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #222;
  font-size: 1.6rem;
}

h1 {
  text-align: center;
  color: rgb(145, 123, 58);
  margin-bottom: 0.2em;
}

h2 {
  color: rgb(54, 126, 102);
}

small {
  color: #333;
  font-size: 0.8em;
}

hr {
  border: none;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
}

/* ========== NAV ========= */

nav {
  background: rgba(255, 255, 255, 0.75);
  padding: 0px;
  text-align: center;
}

nav a {
 font-weight: bold;
  text-decoration: none;
  margin: 0px 5px;
  line-height: 18px;     
  color: rgb(54, 126, 102);
}

nav a:hover {
  text-decoration: underline;
  color: rgb(30, 87, 63);
}

/* ======== DÍAS FERIA ======== */

.dia {
  background: rgba(255, 255, 255, 0.65);
  margin: 20px;
  position: relative;        
  padding: 15px;
  overflow: hidden;          
  border-radius: 15px;
}

.fecha-sub {
  padding: 5px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.jue {
  background-color: rgba(0, 0, 255, 0.55);
}

.vie {
  background-color: rgba(42, 81, 165, 0.76);
}

.sab {
  background-color: rgb(223, 107, 207);
}

.dom {
  background-color: rgba(255, 0, 119, 0.72);
}

/* ======== IMÁGENES ======== */
.portada {
  margin: auto;
  width: 500px;
  height: 520px;
  padding: 10px;
}

div img {
  border-radius: 40px;
}
p img {
  position: absolute;
  right: 15px;              
  bottom: 15px;            
  max-width: 120px;          
  max-height: 120px;
  border-radius: 10px;
  object-fit: cover; 
}

/* ======== FINALES ======== */

.final {
  text-align: center;
  display: block;
  font-size: 1.6em;
  color: darkred;
}

footer {
  text-align: center;
  margin-top: 40px;
  font-weight: bold;
}

/* ======== PÁGINAS INTERNAS ======== */

.pagina {
  background: rgba(255, 255, 255, 0.6);
  padding: 25px;
  border-radius: 8px;
}