* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: url("./Imagenes/estrella.cur"),auto;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    padding: 2rem;
    height: 100vh;
    background: linear-gradient(to right,
            rgb(192, 179, 201),
            rgb(209, 193, 99),
            rgb(255, 255, 229));

}

section {
    display: flex;
    height: 350px;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.6;
    transition: 4s ease;
}

section img:hover {
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

section img:first-child {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;

}

section img:last-child {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;

}

h1 {
text-align: center;
color: rgb(116, 54, 85);
text-shadow: white 2px 2px 2px;
}
h2{
    background-color: rgb(176, 217, 139);
    border-radius: 20px;
    border-color: bisque;
    border-style: double;
    padding: 15px;
    margin: 10px;
    text-align: center;
    color: white;
    text-shadow: black 2px 2px 2px;
}
footer {
    text-align: center;
    width: 100%;
    padding: 1.5rem;
    background-color: rgba(100, 219, 139, 0.856);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 20px;
}