* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body {
  font-family: sans-serif;
  background-color: rgb(145, 125, 165);
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  text-shadow: rgb(52, 57, 77) 2px 2px 2px;
  font-family: 'Times New Roman', Times, serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: rgb(247, 193, 193);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-style: initial;
  
}

th, td {
  border: 1px solid rgb(157, 122, 122);
  padding: 10px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

th {
  background-color: #fff9f9;
}

img {
  width: 80px;
  height: auto;
}
footer {
    text-align: center;
    width: 100%;
    padding: 1.5rem;
    background-color: rgba(218, 70, 139, 0.856);
    font-family: Georgia, 'Times New Roman', Times, serif;
}