* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body {
    background-image: url("./Imagenes/Fondo.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;  
    background-attachment: fixed; 
}
h1 {
    background-color: rgb(59, 118, 26);
    padding: 20px;
    margin: 10px auto;
    width: 60%;
    border-radius: 8px;
    color: white;
    text-align: center;
}
p{
    margin: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: rgb(15, 117, 165) 3px 2px 2px;
}
nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;        
    padding: 20px 80px; 
}

nav a {
    display: block;
    background-color: rgb(36, 106, 127);
    padding: 20px 40px; 
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    color: white;
    text-decoration: none;
    width: 220px;     
    margin: 0 auto;  
}
